<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}

<head>
    <style>
        .button {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            background-color: #538fbe;
            padding: 10px 20px;
            font-size: 30px;
            border: 2px solid #2d6898;
        }
    </style>
</head>

<body>
    <h1 class="title">
        Welcome, {{ name }}!
        <hr>
        <div>
            <form method="POST" action="/vote">
                <button class="button">Vote</button>
            </form>
            <br>
            <form method="POST" action="/db">
                <button class="button">View Result</button>
            </form>
        </div>
    </h1>
</body>
{% endblock %}